* {
  background-color: #0c2d57;
}
.container {
  background-color: #fc6736;
  border-radius: 10px;
  max-width: 400px;
  padding: 50px;
  box-shadow: 4px 4px 8px;
  width: 100%;
}
h1 {
  background-color: #fc6736;
}
.field {
  background-color: #fc6736;
}
span {
  background-color: #fc6736;
}
